Kumquat.SAS/Kumquat.SAS.Sitecore/obj/
Kumquat.SAS/Kumquat.SAS.Sitecore.Test/obj/
Kumquat.SAS/Kumquat.SAS.Interfaces/obj/
Kumquat.SAS/Kumquat.SAS.Picturepark/obj/
Kumquat.SAS/Kumquat.SAS.Initialise/obj/
Kumquat.SAS/Kumquat.SAS.TDS.Core/obj/
Kumquat.SAS/Kumquat.Core/obj/
Kumquat.SAS/Kumquat.SAS/obj/
Kumquat.SAS/Kumquat.SAS.Test/obj/
Kumquat.SAS/Kumquat.Core.Test/obj/
Kumquat.SAS/Kumquat.Core.Interfaces/obj/
Kumquat.SAS/Sitecore.SAS.TDS/obj/
Kumquat.SAS/Sitecore.SAS.TDS/bin/
Kumquat.SAS/Kumquat.SAS.Test/bin/
Kumquat.SAS/Kumquat.SAS.Sitecore.Test/bin/
Kumquat.SAS/Kumquat.Core.Test/bin/
Kumquat.SAS/Kumquat.SAS.Initialise/bin/
Kumquat.SAS/Kumquat.SAS.Picturepark/bin/
Kumquat.SAS/Kumquat.SAS.Sitecore/bin/
Kumquat.SAS/Kumquat.SAS/bin/
Kumquat.SAS/packages/
Kumquat.SAS/Kumquat.SAS.Picturepark/Properties/PublishProfiles/test.pubxml
Kumquat.SAS/Kumquat.SAS.Interfaces/bin/Debug/Lucene.Net.xml
Kumquat.SAS/Kumquat.SAS.Interfaces/bin/Debug/Newtonsoft.Json.xml
Kumquat.SAS/Kumquat.SAS.Interfaces/bin/Debug/Sitecore.Kernel.xml
Kumquat.AssetBank/bin/
Kumquat.AssetBank/Kumquat.AssetBank.Interfaces/bin/
Kumquat.AssetBank/Kumquat.AssetBank.Interfaces/obj/
Kumquat.AssetBank/Kumquat.AssetBank.Tests/bin/
Kumquat.AssetBank/Kumquat.AssetBank.Tests/obj/
Kumquat.AssetBank/Kumquat.AssetBank.Website/bin/
Kumquat.AssetBank/Kumquat.AssetBank.Website/obj/
*/bin/*
Kumquat.AssetBank/Kumquat.SAS.SC.Core/bin/
Kumquat.AssetBank/Kumquat.SAS.SC.Core/obj/
Kumquat.AssetBank/Kumquat.SAS.SC.Interfaces/bin/
Kumquat.AssetBank/Kumquat.SAS.SC.Interfaces/obj/
Kumquat.AssetBank/Kumquat.SAS.SC.Tests/bin/
Kumquat.AssetBank/Kumquat.SAS.SC.Tests/obj/
Kumquat.AssetBank/Kumquat.Utilities.Interfaces/bin/
Kumquat.AssetBank/Kumquat.Utilities.Interfaces/obj/
Kumquat.AssetBank/Kumquat.Utilities.Tests/bin/
Kumquat.AssetBank/Kumquat.Utilities.Tests/obj/
Kumquat.AssetBank/obj/
Kumquat.SAS.SC/obj/
Kumquat.Utilities/obj/
/references
Kumquat.Utilities.Tests/obj/
Kumquat.Utilities.Interfaces/obj/
Kumquat.SAS.SC.Interfaces/obj/
Kumquat.ExampleIntegration/obj/
Kumquat.SAS.SC.Core/obj/
*.suo
Kumquat.ExampleIntegration.Website/obj/
packages/
Kumquat.ExampleIntegration.Interfaces/obj/
