<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="ExampleIntegration.ServiceUrl" value="https://jsonplaceholder.typicode.com/users" />
      <setting name="ExampleIntegration.Replacements" value="-" />
			<setting name="Kumquat.FolderTemplateId" value="{9C378D7A-34BF-4764-A798-FDDC3E7CA36B}" />
			<setting name="Kumquat.Template.Default" value="{FAEA1FF3-3361-4AF5-8AA5-66B1A652D286}" />
    </settings>
    <dataProviders>
      <ExampleIntegrationProvider type="Kumquat.SAS.SC.BaseDataProvider, Kumquat.SAS.SC">
        <param desc="DataProviderName">example</param>
        <param desc="IdTablePrefix">ExampleIntegrationItems</param>
        <param desc="ParentTemplateId">{9C378D7A-34BF-4764-A798-FDDC3E7CA36B}</param>
        <disable>*</disable>
        <enable>GetChildIDs</enable>
        <enable>GetParentID</enable>
        <enable>GetItemDefinition</enable>
        <enable>GetItemVersions</enable>
        <enable>GetItemFields</enable>
      </ExampleIntegrationProvider>
    </dataProviders>
    <databases>
      <database id="master" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <dataProviders>
          <dataProvider patch:before="*[1]" ref="dataProviders/ExampleIntegrationProvider"/>
        </dataProviders>
      </database>
    </databases>
  </sitecore>
</configuration>